*{
padding: 0px ; 
margin: 0px ; 
}


div{
    padding: 200px ; 
    border: 1px solid black ; 
    display: inline-block;
    

}

.red{
    background-color: #fff ; 
}


.green{
    background-color: #e2efff ; 
}


.blue{
    background-color: #f2f2f2 ; 
}